extends layout

block content
  h1 Andy's Voting App
  p.lead Built for the Voting App FCC Challenge.
  hr
  .row
    .col-sm-6
      h2 Surveys
      ul
        for vote in voting
          li
              a(href="/poll/"+vote.id)= vote.title
        else
          li sorry, no surveys
    .col-sm-6
      h2 Heading
      p This is my voting app, to the left are various surveys. Check it out!